<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<div th:fragment="folder-list (userName, userFolders)">
    <div>
        <a th:href="@{/compose}" class="btn  btn-outline-success" style="width:100%;display:block;"> Compose </a>
    </div>
    <div class="card">
        <div class="card-header">
            Labels:
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li th:each="folder : ${userFolders}"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    <a th:href="@{'/?label=' + ${folder.label}}" th:text="${folder.label}"></a>
                    <span class="badge rounded-pill" style="background-color: green">14</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>